.admin-list__heading {
    text-align: center;
}

.admin-list__table {
    width: 90%;
    margin: 32px auto 0;
    border-collapse: collapse;
    border: 1px solid #929191;
    white-space: nowrap;
    overflow-x: auto;
}

.admin-list__table-heading {
    padding: 8px 16px;
    color: #fff;
    background-color: #305dff;
}

.admin-list__table-item {
    text-align: center;
    padding: 12px 20px;
    border-bottom: 1px solid #929191;
}

.admin-list__table-item:first-of-type {
    width: 70px;
}

.pagination__group {
    margin-top: 32px;
}