.register-editor__container {
    width: 45%;
    margin: 120px auto 0;
}

.register-editor__form-title {
    font-size: 18px;
    padding: 16px 24px;
    color: #fff;
    background-color: #305dff;
}

.form-group__select {
    display: flex;
    gap: 12px;
    margin-bottom: 16px;
}

.register-editor__select {
    width: 100%;
    border-bottom: 2px solid #000;
    padding: 6px 0;
}

.form__select-inner {
    position: relative;
    width: 100%;
}

.form__select-inner::after {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 0;
    height: 0;
    border-top: 6px solid #a1a09f;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: "";
}


@media screen and (max-width: 768px) {

    .register-editor__container {
        width: 70%;
        min-width: 315px;
    }
}