.user__name {
    margin-top: 32px;
    font-size: 28px;
    font-weight: bold;
}

.mypage__container {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

/* ---予約状況--- */
.reservation-status__group {
    margin-top: 48px;
    min-width: 320px;
    width: 500px;
}

.reservation-status__content {
    margin-top: 32px;
    background-color: #305dff;
    padding: 32px;
    color: #fff;
}

.reservation-status__text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reservation-status__number {
    margin-left: -60%;
}

.reservation-status__icon {
    width: 24px;
    height: 24px;
    vertical-align: bottom;
}

.reservation-status__table {
    margin: 32px auto 0;
    font-size: 14px;
    width: 80%;
}

.reservation-cancel__btn-img {
    width: 24px;
    height: 24px;
    vertical-align: bottom;
}

.reservation__edit-btn {
    margin: 8px auto 0;
    color: #fff;
    border: 1px solid #fff;
    background-color: #4b6cf1;
    font-size: 14px;
}

.reservation-status__table-header {
    width: 30%;
    text-align: left;
    padding: 8px;
}

.reservation-status__table-item {
    padding: 8px;
}

.reservation__edit-group {
    text-align: center;
}

.reservation__edit-btn {
    text-decoration: none;
    display: inline-block;
}

.edit-icon {
    width: 16px;
    height: 16px;
    vertical-align: center;
    margin-right: 8px;
}

/* ---お気に入り店舗--- */
.favorite-store__list-group {
    margin-top: 48px;
    max-width: 664px;
}

.favorite-store__list-content {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.reservation__delete-form {
    margin-top: 28px;
}

.delete-btn {
    display: inline-block;
    margin: 0 auto;
    background-color: #f65959;
}

.modal__content-text {
    text-align: center;
}

/* ---予約フォーム--- */
.reservation__group {
    background-color: #305dff;
    display: flex;
    flex-direction: column;
    height: 480px;
}

.reservation__title-not-login {
    margin-top: 8px;
    color: #fff;
}

.reservation-form {
    padding: 28px;
    flex-grow: 1;
    position: relative;
}

.reservation-edit__item {
    margin-top: 20px;
}

.reservation-edit__input,
.reservation-edit__date-input {
    width: 100%;
    background-color: #fff;
    border-radius: 3px;
    padding: 8px 12px;
    font-size: 14px;
}

.reservation-edit__date-input {
    position: relative;
    height: 30px;
}

.reservation-edit__date-input::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: auto;
    height: auto;
    background: transparent;
}

.reservation-edit__select {
    width: 100%;
    margin-top: 10px;
    position: relative;
}

.reservation-edit__select::after {
    position: absolute;
    top: 50%;
    right: 5%;
    width: 0;
    height: 0;
    border-top: 8px solid #ddd;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-radius: 3px;
    content: "";
    transform: translateY(-50%);
}

.error-message {
    color: #721b1bdd;
    text-align: left;
}

/* ---予約確認--- */
.reservation-confirm__group {
    margin-top: 24px;
    padding: 12px;
    background-color: #4d7eff;
    color: #fff;
    border-radius: 3px;
    font-size: 14px;
}

.reservation-confirm__table {
    width: 100%;
}

.reservation-confirm__table-header {
    padding: 4px;
    text-align: left;
    width: 20%;
}

.reservation-confirm__table-item {
    padding: 4px;
}

.reservation-form__submit {
    display: block;
    padding: 14px 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    position: absolute;
    width: 100%;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0438ff;
    color: #fff;
    transition: .3s;
}

.reservation-form__submit:hover {
    background-color: #efa142;
}

.reservation-form__submit:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

@media screen and (max-width: 768px) {
    .mypage__container {
        flex-direction: column;
        gap: 32px;
    }

    .reservation-status__group {
        width: 100%;
    }

    .reservation-status__table {
        width: 100%;
    }
}