body {
    width: 100vw;
    height: 100%;
    background-color: #fff;
    max-width: 1344px;
    padding: 0 48px 48px;
    margin: 0 auto;
    font-family: Helvetica, Arial, Hiragino Sans, "ヒラギノ角ゴシック", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", sans-serif;
}

.header__title {
    margin: 0;
}

.payment-detail__group {
    width: 60%;
    margin: 48px auto 0;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.payment-detail__heading {
    font-size: 20px;
    padding: 8px 12px;
    background-color: #305dff;
    color: #fff;
}

.payment-detail__amount {
    padding: 60px 16px;
}

.payment-detail__amount-text {
    font-size: 20px;
    text-align: center;
}

.payment-detail__amount-total {
    margin-top: 40px;
    font-size: 22px;
    text-align: center;
}

.payment-form__container {
    margin-top: 32px;
    text-align: center;
}

.input {
    background: #f3aeae;
}

@media screen and (max-width: 768px) {
    .payment-detail__group {
        width: 100%;
    }
}