.thanks-container {
    width: 40%;
    margin: 64px auto 0;
    padding: 72px 48px;
    background-color: #ffffff;
    text-align: center;
}

.thanks-text {
    font-size: 24px;
}

.thanks__login-button,
.thanks__back-button {
    display: inline-block;
    margin: 32px auto 0;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .thanks-container {
        width: 70%;
        padding: 72px 40px;
    }
}