/* ---edit form--- */
.store-edit__heading {
    text-align: center;
    margin-top: 32px;
}

.store-edit__table {
    width: 100%;
    border: 1px solid #929191;
    border-collapse: collapse;
    margin-top: 32px;
}

.store-edit__table-row {
    border-bottom: 1px solid #929191;
}

.store-edit__table-heading {
    max-width: 240px;
    min-width: 120px;
    border-right: 1px solid #929191;
    background-color: #e6e5e3;
}

.store-edit__required {
    margin-left: 8px;
    color: rgba(238, 72, 50, 0.942);
}

.store-edit__table-item {
    padding: 8px 16px;
}

.store-edit__input,
.store-edit__select,
.store-edit__textarea {
    border: 1px solid #d3d2d2;
    border-radius: 3px;
    padding: 8px;
    width: 100%;
}

.store-edit__tel,
.store-edit__time {
    display: flex;
    align-items: center;
    gap: 8px;
}

.store-edit__holiday {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.store-edit__number,
.store-edit__budget {
    width: 50%;
}

.store-registration__img-container {
    max-width: 300px;
    min-width: 115px;
}

.store-registration__img {
    width: 100%;
    height: auto;
}

.store-registration__change {
    margin-top: 32px;
}

.store-registration__change-text {
    color: rgb(237, 124, 79);
}

.store-edit__area,
.store-edit__genre {
    width: 100%;
}

.store-edit__select-inner {
    position: relative;
    width: 50%;
}

.store-edit__select-inner::after {
    position: absolute;
    top: 50%;
    right: 8%;
    width: 0;
    height: 0;
    border-top: 6px solid #a1a09f;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: "";
    transform: translateY(-50%);
}

.store-edit__btn-group {
    margin-top: 32px;
    text-align: center;
}

.store-edit__btn {
    text-decoration: none;
    display: inline-block;
    padding: 4px 16px;
    border-radius: 3px;
    background-color: #305dff;
    color: #fff;
    transition: .3s;
}

/* ---modal--- */
.modal__group {
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.modal__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    background-color: #325583;
    box-shadow: 4px 4px 4px rgba(139, 121, 105, 0.25);
    transform: translate(-50%, -50%);
    padding: 32px;
}

.modal__group:target {
    visibility: visible;
    opacity: 1;
}

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(235, 232, 232, 0.5);
    display: block;
    width: 100%;
    height: 100%;
}

.close-detail__modal {
    text-align: right;
}

.close-detail__button-img {
    width: 32px;
    height: 32px;
}

.close-detail__button {
    cursor: pointer;
}

.modal__content {
    margin-top: 32px;
    text-align: center;
}

.modal__content-text {
    color: #fff;
    font-size: 20px;
}

.modal-btn {
    display: block;
    margin: 40px auto;
    width: 180px;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .store-edit__tel,
    .store-edit__time {
        display: flex;
        flex-direction: column;
    }

    .store-edit__select-inner {
        width: 100%;
    }

    .store-edit__number,
    .store-edit__budget {
        width: 80%;
    }

    .modal__inner {
        width: 70%;
    }
}